.no-radius{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.label-padding{
  padding-top: 7px;
}

.no-padding{
  padding: 0;
}

.button-margin{
  margin-left: 15px;
}

.little-icon{
  width: 22px;
  height: 22px;
}

.medium-icon{
  width: 30px;
  height: 30px;
}
.little-icon-padding{
  padding: 2px 0;
}

.cAlert{
  margin-top: 20px;
  display: none;
}
/*override*/

.dataTables_filter{
  margin-right: 1px;
}

div.dataTables_paginate.paging_simple_numbers{
  margin-right: 1px;
}

.panel-heading{
  padding-left: 10px;
}

.form-control{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.form-control:focus{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

select.form-control{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  outline: 1px solid #cccccc; outline-offset:-1px
}

select.form-control:focus{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  outline: 1px solid #cccccc; outline-offset:-1px
}


.pagination > li:first-child > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.pagination > li:last-child > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.nav-tabs > li > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.nav-tabs > li:first-child > a {
  border-left: none;
}

.nav-tabs > li:first-child > a:focus {
  border-left: none;
}

.nav-tabs > li:first-child > a:hover {
  border-left: none;
}

/*-----------------------*/
.titoli-tab{
  display: none;
}

@media(min-width:768px) {
  .titoli-tab{
    display: inline;
    margin-left: 10px;
  }
}

/*VALIDATOR*/
.not-necessary .help-block,
.not-necessary .control-label,
.not-necessary .radio,
.not-necessary .checkbox,
.not-necessary .radio-inline,
.not-necessary .checkbox-inline,
.not-necessary.radio label,
.not-necessary.checkbox label,
.not-necessary.radio-inline label,
.not-necessary.checkbox-inline label {
  color: #2FB7FF;
}
.not-necessary .form-control {
  border-color: #2FB7FF;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.not-necessary .form-control:focus {
  border-color: #2FB7FF;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #2FB7FF;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #2FB7FF;
}
.not-necessary .input-group-addon {
  color: #2FB7FF;
  background-color: #b9e5fd;
  border-color: #2FB7FF;
}
.not-necessary .form-control-feedback {
  color: #2FB7FF;
}
/*DATATABLES*/
input[type="search"]{
  display: inline-block;
}
select.input-sm{
  display: inline-block;
}

.legend-green{
  margin: 5px 10px 0 0;
  width: 30px;
  height: 10px;
  background-color: #dff0d8;
  border: 1px solid #ddd;
}
.legend-yellow{
  margin: 5px 10px 0 0;
  width: 30px;
  height: 10px;
  background-color: #fcf8e3;
  border: 1px solid #ddd;
}